body{
    background-image: url("../resources/gameBackground/background.jpg");
}
.headline{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 4%;
    left: 42%;
    font-size: 5vh;
}
.dice{
    height: 12%;
    width: 7%;
}
.throwButton{
    height: 5%;
    width: 10%;
    font-size: 1vw;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.doubleDiceCompnent{
    left: 0%;
    top: 30%;
   
}
.Disc{
    height: 10%;
    width: 60%;
    position: relative;
    z-index: 1;
}
.Disc1{
    height: 10%;
    width: 60%;
    position: relative;
    z-index: 4;
}
.backgammon{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
    height: 98%;
}
.boardImg{
    height: 86.5%;
    width: 100%;
}
table{
    height: 35%;
    width: 30%;
    max-width: 30%;
    max-height: 35%; 
    position: absolute;
}

td{
   
    width:10%;
    max-width: 10%;
    min-width: 10%;
    min-width:5%;
    height: 1%;
    max-height: 1%;
    min-height: 1%;
    padding-left: 4%;
    margin-left: 4%;
}
.table1{
    top: 21%;
    left: 52%;
   
}
.table2{
    top:21%;
    left: 18%;
   
}
.table3{
    top:56%;
    left: 52%;
    
}
.table4{
    top: 56%;
    left: 18%;
  
}
.eatenTable{
    width: 5%;
    max-height: 82%;
    height: 82%;
    top: 15%;
    left: 47.5%;
   
}
.table1 td{
    vertical-align: 0%;
}
.table2 td{
    vertical-align: 0%;
}
.table3 td{
    vertical-align: bottom;
}
.table4 td{
    vertical-align: bottom;
}
.eatenTable td{
    vertical-align: middle;
}
.turnViewComponent{
    height: 8%;
    width: 20%;
    left: 70%;
    top: 6%;
    position: absolute;
}
.turnViewImg{
    height: 100%;
    width: 23%;
    position: flex;
    top: 0%;
    left: 60%;
}

