.backgammon {
    width: 100%;
    height: 100%;
    background: url('../../resources/gameBackground/background.jpg');
    font-family: 'Bungee Inline';
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.backgammon__body {
    
    width: 100%;
    height:80%;
    border: 3px solid red;
}