.doubleDice {
    display: flex;
    flex-direction: row;
    padding-top: 0;
  
}
.doubleDice__die {
    width: 20%;
    height: 20%;
}
.doubleDice__throwButton {
    background-color: black;
    border: none;
    color: white;
    padding: 2% 2%;
    text-align: center;
    font-family: 'Bungee Inline';
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    
}
.doubleDice__throwButton:hover{
    background-color:blue;

}